<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset = "ISO-8859-1" />
    <link th:href = "@{/css/styles.css}" rel = "stylesheet">
    <title>User input page</title>
</head>
<body>
<div class="container">
    <div class="hero-unit">
        <h1>Temp app</h1>
        <p>
            Choose an action
        </p>
        <p>
            <a th:href="@{all-users}">
                <button>All users</button>
            </a>
            <a th:href="@{new-userEntity}">
                <button>New userEntity</button>
            </a>
        </p>
    </div>
</div>
</body>
</html>