<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Employee</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div class="container my-5" style="text-align: left">
    <h1>Welcome!</h1>
    <div class="card" style="width: 25rem; text-align: center; height: auto; padding: 1rem">
        <h1>Choose action:</h1>
        <div>
            <a th:href="@{/users/list}">
            <button class="btn btn-primary">All users</button>
        </a>
            &nbsp;
        <a th:href="@{/users/add}">
            <button class="btn btn-primary">New User</button>
        </a>
        </div>

    </div>
</div>
</body>
